.home-header {
  height: auto;
  position: relative;
  color: $white;
  overflow: hidden;
  background-image: url($bg-home-header);
  background-repeat: no-repeat;
  //background-position: right -20px top 0px;
  background-position: right -300px top 0px;
  background-size: cover;
  background-color: $black;

  .curve-web {
    transform: scaleX(-1);
    fill: $white;
  }

  &__title {
    font-weight: 500;
  }

  &__subtitle {
    font-size: 2.25em;
    font-weight: 500;
    margin-bottom: 1.5em;
  }

  &__curve {
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;

    svg {
      min-width: 415px;
    }
  }

  .btn {
    &:hover {
      background-color: $white !important;
      color: $black
    }
  }

  @include md-below {
    padding: 0 3rem;
    min-height: calc(100vh - 70px);

    .curve-web {
      display: none;
    }

    .row {
      height: calc(100vh - 80px);
    }

    &__title {
      font-size: 1.75rem;
      line-height: 1.3;
      margin: 0 auto 7.5rem;
      max-width: 490px;
      text-align: left;
      display: block;
    }

    &__subtitle {
      font-size: 1.25rem;
      text-align: center;
      font-weight: 400;
      width: 100%;
      display: inline-block;
      margin-bottom: 2rem;
    }

    .row {
      text-align: center;
    }
  }

  @include sm-up {
    background-color: $black;
    background-position: right -350px top 0px;

    .curve-web {
      display: block;
    }

    .curve-mobil {
      display: none;
    }

    &__title {
      font-size: 2.75rem;
      max-width: 600px;
      margin: 0;
      margin-bottom: 1.3rem;
      line-height: 1.3;
    }

    &__subtitle {
      font-size: 2.25rem;
      margin-bottom: 3.25rem;
      text-align: left;
    }

    .btn {
      display: block;
    }
  }

  @include md-up {
    background-position: center center;
    padding-top: 9rem;
    padding-bottom: 10rem;
  }

}

.cls-1 {
  fill: $white;
}