.purposes {
    padding: 2.5rem;
    background-color: $gray-100;


    @include md-below {
        min-height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: 600;
        }

        &__item {
            padding: 3rem 0;
            display: flex;
            flex-direction: column;

            &:nth-child(2) {
                border-top: 1px solid rgba($bg-menu, 0.3);
                border-bottom: 1px solid rgba($bg-menu, 0.3);
            }
        }

        .description {
            max-width: 17rem;
            display: block;
            margin: 0 auto;
            margin-top: 0.3rem;
        }

        .btn-secondary {
            margin-top: 2rem;
        }
    }

    @include md-up {
        padding: 2.5rem 2rem 7rem;

        &__title {
            margin-bottom: 3.875rem;
            text-align: left;
            margin-left: 9rem;
            text-transform: uppercase;
        }

        &__item {
            display: flex;
            padding: 0 3rem;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 300px;
            img {
                height: 150px;
                width: 150px;
                margin-bottom: 32px;
            }

            .title {
                font-weight: 500;

                strong {
                    display: block;
                    font-weight: 600;
                }
            }

            .description {
                font-size: 1rem;
                margin-top: 0.5rem;
            }
        }

        .btn {
            display: none;
        }
    }
}