footer.footer
    .container
        .row
            .col-xs-11.col-xs-offset-1
                strong.footer-title Page Demo
        br
        .row
            .col-xs-11.col-xs-offset-1.col-sm-5.col-sm-offset-1
                span Lorem Ipsum
                br
                strong.phone 01 800 000 0000
            .col-xs-11.col-xs-offset-1.col-sm-6.col-sm-offset-0
                span Lorem Ipsum:
                br
                span There are many variations of passages of Lorem Ipsum available, but the.
        br
        .row
            .col-xs-10.col-xs-offset-1
                p.small Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        .row.social-links
            a(href="#" target="_blank").icon.tw
            a(href="#" target="_blank").icon.fb
            a(href="#" target="_blank").icon.yt