nav.menu-top
  .container
    .row.between-xs.middle-xs.menu-top__wrapper
      .col-xs-5
        a(href="/")
          img(src="./assets/img/logo.png", alt="" style="width: 40px;")
          h2.menu-top__title Lorem Ipsum
      .col-xs-7
        .menu-top__rigth
          a.menu-top__link(href="#") CONTACT