$white: #ffffff;
$gray-100: #f9fafb;
$gray-200: #363c44;
$gray-300: hsl(214, 4%, 34%);
$black: #252323;

$primary: #252323;
$secondary: #f9fafb;
$succes: #FAD138;

$bg-prmary: #F2CDAC;
$bg-secondary: rgba(183, 176, 156, 0.4);
$bg-dark: #252323;
$bg-menu: #A0A8BA;
$bg-copy: #F8F9FA;
$text-title: #0633ad;
$link-hover-navbar: rgba(249, 250, 251, 0.36);

// responsive breakpoints 
// 768px
$media-sm: 768px;
// 992px
$media-md: 992px;
// 1200px
$media-lg: 1200px;

// background images
$bg-home-header: "../img/reloj_suraInversiones.png";
$bg-social-tw:"../img/twitter.svg";
$bg-social-fb:"../img/facebook.svg";
$bg-social-yt:"../img/youtube.svg";

$bg-products-portfolio: "../img/SURAInversiones_producto.png";
$bg-products-fund: "../img/SURAInversiones_saco.png";