.experience-container
    .container
        .row
            .col-xs-offset-1.col-xs-10.col-md-offset-0.col-md-12.experience-small.empty(data-aos="fade-up")
        
    .experience-large(data-aos="fade-up")
        .container
            .row
                .col-xs-offset-1.col-xs-10.col-md-offset-0.col-md-12
                    p Is it more #[strong important] for to be

    .container(data-aos="fade-up")
        .row
            .col-xs-offset-1.col-xs-10.col-md-offset-0.col-md-12.experience-small
                p Without development
            
    .container.experience-btn(data-aos="fade-up" )
        .row.center-xs
            .col-xs-12
                button(type="button").btn.btn-secondary Start Now