header.home-header
    .container
        .row.middle-xs
            .col-xs-12.col-sm-12.col-md-8.col-md-offset-1
                h1.home-header__title There are many #[strong.text-underline variations] of passages of Lorem Ipsum available.
                h2.home-header__subtitle Randomised words which don't look.
                button.btn.btn-secondary Start Now
            
    .home-header__curve
        svg.curve-web#curveUpColor(xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewbox="0 0 100 100" preserveaspectratio="none")
            path(d="M0 100 C 20 0 50 0 100 100 Z")
        svg.curve-mobil(viewbox="0 0 414 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
            defs
                path#path-1(d="M312,745 C312,745 445.022282,685 732,685 L732,745 L312,745 Z")
            g#Responsivo(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                g#mobile-xr(transform="translate(0.000000, -763.000000)")
                    g#Group-2(transform="translate(-317.000000, 78.000000)")
                        mask#mask-2(fill="white")
                            use(xlink:href="#path-1")
                        use#Mask-Copy(fill="#FFFFFF" xlink:href="#path-1")

        