.purposes#purposes
    .container
        .row.center-xs
            .col-xs-12
                h3.title.purposes__title Lorem ipsum dolor sit.
        .row.center-xs
            .col-xs-12.col-md-4.purposes__item
                img(src="./assets/img/b1.png", alt="") 
                p.title Lorem
                span.description Lorem ipsum dolor sit amet consectetur. 
            
            .col-xs-12.col-md-4.purposes__item
                img(src="./assets/img/b2.png", alt="") 
                p.title Lorem ipsum
                span.description Lorem ipsum dolor sit amet consectetur.
            
            .col-xs-12.col-md-4.purposes__item
                img(src="./assets/img/b3.png", alt="") 
                p.title Lorem ipsum 
                span.description Lorem ipsum dolor sit amet consectetur.
            
        .row.center-xs
            .col-xs-6
                a(href="").btn.btn-secondary Start Now