.secondary-section
    .container
        .row.center-xs.middle-xs
            .col-md-6.col-md-offset-1
                h3.title Where can I get some?
                ul.secondary-section__list
                    li.description  The standard chunk #[strong Lorem.]
                    li.description  All the Lorem Ipsum #[strong generators] on the Internet tend to repeat
                    li.description  All the #[strong Lorem] or non-characteristic words etc.
                    li.description  All the Lorem Ipsum #[strong generators] on the Internet tend to repeat
            
            .col-md-5.secondary-section__animation
                img(src="./assets/img/second.svg", alt="")