.steps#steps
    .container
        .row
            .col-xs-12.col-md-12.steps__item(data-aos="zoom-in-left"  data-aos-offset="150")
                .steps__wrapped-image
                    img(src="/assets/img/pasos1.svg", alt="")
                .steps__wrapped
                    .steps__context
                        strong.title.only-web Unspecified 
                        strong.title Unspecified 
                        p.description Without #[strong preplanned] cyber-Total Quality Control
                a(href="").btn.btn-secondary Start Now
            .col-xs-12.col-md-12.steps__item(data-aos="zoom-in-right"  data-aos-offset="150")
                .steps__wrapped-image
                    img(src="/assets/img/pasos2.svg", alt="")
                .steps__wrapped
                    .steps__context
                        strong.title.only-web What does the buzzword
                        strong.title What does the buzzword
                        p.description at some #[strong unspecified] point in the future
            .col-xs-12.col-md-12.steps__item(data-aos="zoom-in-left"  data-aos-offset="150")
                .steps__wrapped-image
                    img(src="/assets/img/pasos3.svg", alt="")
                .steps__wrapped
                    .steps__context
                        strong.title.only-web Without C2C
                        strong.title Without C2C
                        p.description  do you have a infinitely #[strong reconfigurable scheme] for coping with emerging methodologies? 
            .col-xs-12.col-md-12.steps__item(data-aos="zoom-in-right"  data-aos-offset="150")
                .steps__wrapped-image
                    img(src="/assets/img/pasos4.svg", alt="")
                .steps__wrapped
                    .steps__context
                        strong.title.only-web If all of this may seem
                        strong.title If all of this may seem
                        p.description We believe we know that it is #[strong better] to streamline cyber-virtually.
        .row.center-xs.steps-footer
            .col-xs-12
                a(href="").btn.btn-secondary Start Now