.testimonies
    #slider.swipe(data-aos="fade-down" data-aos-offset="150")
        .swipe-wrap
            .swipe-item
                .swipe-image
                    img(src="./assets/img/profile-1.svg", alt="")
                .swipe-text
                    strong.title Lorem Ipsum
                    br
                .swipe-stars
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella on.svg", alt="")

                p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, alias. Quo, magnam hic quaerat saepe vel recusandae nesciunt quae consequuntur tenetur.
            .swipe-item
                .swipe-image
                    img(src="./assets/img/profile-2.svg", alt="")
                .swipe-text
                    strong.title Lorem Ipsum
                    br
                .swipe-stars
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella on.svg", alt="")
                p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quam unde rem minus accusantium, eveniet dicta aspernatur maxime distinctio iure libero facilis deleniti quisquam, alias eaque eius dignissimos laudantium repellendus illum.
                
            .swipe-item
                .swipe-image
                    img(src="./assets/img/profile-1.svg", alt="")
                .swipe-text
                    strong.title Lorem Ipsum
                    br
                .swipe-stars
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella on.svg", alt="")
                    img(src="./assets/img/estrella semi.svg", alt="")
                p.description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur beatae consequatur sed atque sit itaque veniam culpa? Recusandae officiis itaque, dolor molestias nam odit cupiditate incidunt.
        .swipe-dots
            button.active
            button
            button