doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title E&C LANDING
    // Styles
    link(href="./assets/css/styles.min.css", rel="stylesheet")
    block head
  body
    include ../partials/menu-top.pug
    block menu
    block content
    include ../partials/footer.pug
    include ../partials/copy.pug
    script(src="./assets/js/jquery.min.js")
    block scripts
