.copy {
    background: $bg-copy;
    padding: 35px 0 35px;
    text-align: center;
    color: rgb(38, 71, 105);
    font-size: 14px;
    font-weight: 500;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: 15px 10px 0;
        font-size: 12px;
        font-weight: 500;
    }

    a {
        color: rgb(38, 71, 105);
    }
}