.footer {
    background-color: $primary;
    color: $white;
    font-size: 21px;
    line-height: 1.4;
    font-weight: 400;

    .social-links {
        max-width: 300px;
        display: block;
        margin: 61px auto 0;
        display: flex;
        justify-content: space-between;
    }

    .icon {
        width: 40px;
        height: 40px;

        &:hover {
            opacity: 0.9;
        }

        &.tw {
            background-image: url($bg-social-tw);
        }

        &.fb {
            background-image: url($bg-social-fb);
        }

        &.yt {
            background-image: url($bg-social-yt);
        }
    }

    &-title {
        font-size: 24px;
        font-weight: 500;
    }

    span {
        font-size: 18px;
        line-height: 22px;
    }

    .phone {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        margin-bottom: 2.2rem;
        display: block;
    }

    @include md-below {
        padding: 4.8rem 2.875rem 4.3rem;

        .small {
            font-size: 16px;
            line-height: 19px;

            strong {
                font-weight: 600;
            }
        }
    }

    @include md-up {
        padding: 4.8rem 2rem 2.1rem;

        span {
            font-size: 21px;
        }

        .phone {
            font-size: 21px;
            font-weight: 500;
            line-height: 25px;
        }

        .small {
            strong {
                font-weight: 600;
            }
        }
    }
}